{% extends "base.html" %}

{% block content %}
<script type="text/paperscript" src="static/javascript/js/paperPath.js" canvas="paperCanvas"></script>
<script type="text/javascript" src="static/javascript/js/latent.js" defer></script>
<script type="module" src="static/javascript/js/modelView.js" defer></script>


<script type="text/javascript">  
  var latent_bounds = {{ latent_bounds|tojson }};  
  var img_source = {{ img_source|tojson }};  
  var img_source_hm = {{ img_source_hm|tojson }};  

  var active_model =  {{ active_model|tojson }};
  var height =  {{ height|tojson }};
  var coverage =  {{ coverage|tojson }};
  var contours =  {{ contours|tojson }};

  console.log(contours)

  window.globals = {
    internalClicked: function() {},
    slices:  [],
    latent_bounds: latent_bounds,
    latent_img_source : img_source,
    heatmap_img_source : img_source_hm,
    active_model: active_model,
    height: height,
    coverage: coverage,
    contours: contours
  }
</script>

<body>
  <div style="height: 20px; margin-top: 20px">
    <!-- <h2 class = "text-center">Latent Space Designer </h2> -->
  </div>


  <div class="row " >
  <div class="col-md-3 text-center" style=" margin-top: 100px">
    <h6>Seed Designs</h6>
    <br>
    <div class = "row ">    
      <div class = "col-3" > 
        <figure class = "text-center">
         <img src ="static/img/floor1.png"  class="figure-img img-fluid"> 
         <figcaption  >[0,0]</figcaption>
        </figure>
      </div>

      <div class = "col-3"> 
        <figure >
          <img src ="static/img/floor2.png"  class="figure-img img-fluid"> 
          <figcaption >[0,0]</figcaption>
         </figure>
      </div>

      <div class = "col-3"> 
        <figure >
          <img src ="static/img/floor3.png"  class="figure-img img-fluid"> 
          <figcaption >[0,0]</figcaption>
         </figure>
      </div>

       <div class = "col-3"> 
        <figure >
          <img src ="static/img/floor4.png"  class="figure-img img-fluid"> 
          <figcaption >[0,0]</figcaption>
         </figure>
       </div>

   </div>


    <form id = "myForm" action="" method="POST" style="width: 80%; margin:auto; margin-top: 50px;" class= "text-center">
      <h6>Latent Space</h6>
      <br>
      <div class="form-row">
        <div class="col">
          <label for="xMin">xMin</label>
          <input type="text" class="form-control text-center" id="xMin" name="xMin">
        </div>
        <div class="col">
          <label for="xMax">xMax</label>
          <input type="text" class="form-control text-center" id="xMax" name="xMax">
        </div>
      </div>

      <div class="form-row" style="margin-top: 10px">
        <div class="col">
          <label for="yMin">yMin</label>
          <input type="text" class="form-control text-center" id="yMin" name="yMin">
        </div>
        <div class="col">
          <label for="yMax">yMax</label>
          <input type="text" class="form-control text-center" id="yMax" name="yMax">
        </div>
  
      </div>



        <div class="form-row" style="margin-top: 30px"> 
          <div class="col md-3">
            <input type="submit" class="btn btn-outline-dark"  id = "updateLatent" name = "updateLatent" value = "Update Latent Space">
          </div>
        </div>
    </form>


    <div class="row" style="margin-top: 50px">
      <div class="col-6 offset-3">
        <label for="xMin">Model Floors</label>
        <input type="text" class="form-control text-center" id="height" name="height">
        <br>
        <button type="button" class="btn btn-outline-dark" id = "gen" name = "gen" >Generate 3D Model</button>
        </div>
    </div>
    </div>
    
  <div class="col-md-6 ">
   <!-- <input type="submit" id = 'predict' value="Predict" onclick="return save();"> -->
  <div class="mx-auto text-center">
    <br>
    <canvas id="paperCanvas"  width="800" height="800" style="border:2px solid #000000 "></canvas>
    
    <!-- <image src = "/static/img/latent.png" width = "600", height = "600"></image> -->

  </div>


  </div>
  
    <div class="col-md-3" >
      <div class="row">

      <div class="col-6 offset-3 text-center">

      <h6>Constraints</h6>
      <br>
      <label for="xMin">Coverage (%)</label>
      <input type="text" class="form-control text-center" id="coverage" name="coverage">
      <br>
      <button type="button" class="btn btn-outline-dark" id = "constraint" name = "constraint" >Apply</button>
      </div>
      </div>


  <div class="mx-auto text-center">
    <div class = "row"  style="margin-top: 50px">
      <canvas id="c"   width="300" height="300" style="width:100%; height: auto"></canvas>
    </div>
  </div>

<!-- this passes information to python -->
<form action="" method="POST" id = "btnGenerate">

    <input type="hidden" id = "generateSlices" name = "generateSlices" value = "generate">
    <input type="hidden" id = "slices" name = "slices">
    <input type="hidden" id = "modelHeight" name = "modelHeight">
</form>

<form action="" method="POST" id = "btnConstraint">

  <input type="hidden" id = "scoverage" name = "scoverage">

</form>


</div>



  </body>


{% endblock %}