{% extends "base.html" %}

{% block content %}
<script type="text/paperscript" src="static/javascript/js/paperPath.js" canvas="paperCanvas"></script>
<script type="text/javascript" src="static/javascript/js/latent.js" defer></script>
<script type="module" src="static/javascript/js/modelView.js" defer></script>


<script type="text/javascript">  
  var latent_bounds = {{ latent_bounds|tojson }};  
  var img_source = {{ img_source|tojson }};  
  var img_source_hm = {{ img_source_hm|tojson }};  

  var active_model =  {{ active_model|tojson }};
  var height =  {{ height|tojson }};
  var coverage =  {{ coverage|tojson }};
  var contours =  {{ contours|tojson }};
  var floors =  {{ floors|tojson }};
  var model_details =  {{ model_details|tojson }};



  window.globals = {
    internalClicked: function() {},
    slices:  [],
    latent_bounds: latent_bounds,
    latent_img_source : img_source,
    heatmap_img_source : img_source_hm,
    active_model: active_model,
    height: height,
    coverage: coverage,
    contours: contours,
    floors: floors,

  }
</script>

<body>


  <div class="row " >
  

    <div class="col-md-3 text-center" style=" margin-top: 100px">
      


      <form id = "loadData" action = "/uploader" method = "POST" enctype="multipart/form-data">
        <div class="form-group ">
          <label for="loadForm">Model</label>
          <input type="file" name="file" id="file"></input>
        </div>
      </form>

      <h6>Seed Designs</h6>

      <!-- MODEL DETAILS -->
      <div class="text-center" style="margin-top: 20px">
  
        {% for value in annotations %}
        <div class = "row">
          <div class = "col">
            <small>{{value[0]}}</small>
          </div>
          <div class = "col">
            <small>{{value[2]}}</small>
          </div>
          <div class = "col">
            <small>{{value[3]}}</small>
          </div>
          <div class = "col">
            <small>{{value[4]}}</small>
          </div>
        </div>
  
        <!-- space between titles and values -->
        {% if loop.index0 == 0 %}
        <br>
        {% endif %}
  
        {% endfor %}
    
      </div>

      
    </div>

      <div class="col-md-2" style=" margin-top: 100px">

        <br>
        <div class="col text-center">
          <h6>Latent Space</h6>
          <br>
        </div>

 

        <form id = "latentForm" action="" method="POST">

          <div class="form-group form-inline">
            <div class="col-2">
              <small for="xMin">xMin</small>
            </div>
            <div class="col-4">
              <input type="text" class="inputBox text-center" id="xMin" name="xMin" >
            </div>

           <div class="col-2">
              <small >xMax</small>
            </div>
            <div class="col-4">
              <input type="text" class="inputBox text-center"  id="xMax" name="xMax" >
            </div>
          </div>

          <div class="form-group form-inline">
            <div class="col-2">
              <small for="yMin">yMin</small>
            </div>
            <div class="col-4">
              <input type="text" class="inputBox text-center" id="yMin" name="yMin" >
            </div>


              <div class="col-2">
                <small for="yMax">yMax</small>
              </div>
              <div class="col-4">
                <input type="text" class="inputBox text-center"  id="yMax" name="yMax" >
              </div>
            </div>
          



        </form>
    
      
      </div>



      
      <div class="col-md-2 text-center" style=" margin-top: 100px">
 
          <br>

        <div class="col text-center">
          <h6>Output Specs</h6>
          <br>
        </div>




          <div class="form-group form-inline">
            <div class="col-6">
                <small for="height">Model Floors</small>
            </div>
            <div class="col-6">
              <input type="text" class="inputBox text-center" id="height" name="height" >
            </div>
          </div>


          <div class="form-group form-inline">


          <div class="col-6">
            <small for="taper">Taper</small>
          </div>
          <div class="col-6">
            <input type="text" class="inputBox text-center" id="taper" name="taper"  value = 0.0 >
          </div>
      </div>

        <br>


        </div>
  
    


      <div class="col-md-2 text-center" style=" margin-top: 100px">

        <br>
        
        <h6>Constraints</h6>
        <br>
 
      



        <div class="form-group form-inline">
          <div class="col-6">
            <small for="xMin">Coverage (%)</small>

          </div>
          <div class="col-6">
            <input type="text"class="inputBox text-center"  id="coverage" name="coverage">

          </div>
        </div>



      </div>


      <div class="col-md-2 text-center" style=" margin-top: 100px">

        <br>
        
        <h6>Model Details</h6>
        <br>

        {% for field, value in model_details._asdict().items() %}
        <div class = "row">
          <div class = "col">
            <small>{{field}}</small>
          </div>
          <div class = "col">
            <small>{{value}}</small>
          </div>
        </div>
        {% endfor %}
        <br>


  </div>


    </div>

  
  
  </div>


  <!-- MODEL DETAILS -->
  <div class="col-6 offset-3 text-center" style="margin-top: 20px">

  </div>




<!-- this passes information to python -->
<form action="" method="POST" id = "btnGenerate">

    <input type="hidden" id = "generateSlices" name = "generateSlices" value = "generate">
    <input type="hidden" id = "slices" name = "slices">
    <input type="hidden" id = "modelHeight" name = "modelHeight">
    <input type="hidden" id = "modelTaper" name = "modelTaper">

</form>

<form action="" method="POST" id = "btnConstraint">

  <input type="hidden" id = "scoverage" name = "scoverage">

</form>

<form action="" method="POST" id = "btnDownload">

  <input type="hidden" id = "downloadModel" name = "downloadModel">

</form>


</div>
</div>



<!-- ROW OF BUTTONS -->

<div class="row " >

  <div class="col-md-3  text-center " ></div>
  <div class="col-md-2  text-center " >
    <button type="button" class="btn-sm  btn-outline-dark" id = "latent" name = "latent" >Update Latent Space</button>
  </div>

  <div class="col-md-2  text-center " >
    <button type="button" class="btn-sm  btn-outline-dark" id = "gen" name = "gen" >Generate 3D Model</button>
  </div>

  <div class="col-md-2  text-center " >
    <button type="button" class="btn-sm btn-outline-dark" id = "constraint" name = "constraint" >Apply</button>
  </div>

  <div class="col-md-2  text-center " >
    <form id = "downloadData" action = "">
      <input type="submit" class="btn-sm  btn-outline-dark"  id = "download" name = "download" value = "Download 3D Model">
    </form>
  </div>




</div>  



<!-- PATH AND DISPLAY ROW -->

<div class = "row">

  <!-- PATH PLOTTING -->
  <div class="col-md-6  text-center " >
    <div >
      <br>
      <canvas id="paperCanvas"  width="800" height="800" style="border: 1px solid black;" > </canvas>
    </div>

  </div>

  <!-- DISPLAY -->
  <div class="col-md-6 text-center">
    <div >
       <canvas id="c"   width="800" height="800" style=" margin-top: 25px" ></canvas>
   </div>
 </div>

</div>

  </body>


{% endblock %}