{% extends "base.html" %}
{% block content %}

<body style="margin: 0;">
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- get data from python -->
<script type="text/javascript">  
    var inputFiles = {{ inputFiles|tojson }};  
    var outputFiles = {{ outputFiles|tojson }};     

    {% if meshFiles %}
        var meshFiles = {{ meshFiles|tojson }}; 
        
    {% else %}
        var meshFiles = [];    

    {% endif %}

</script>

<!-- load main script to run app -->
<script type="module" src="static/javascript/modelViewer.js"  ></script>

<!-- this contains the scene data -->
<div id="metadata"></div>

<!-- this contains the scene data -->
<div id="hoverLabel"></div>

<!-- this contains the scene data -->
<div id="status">status : </div>

</body>


<!-- controls for POST requests -->

<input id = "btnLoad" type = "file" style = "visibility: hidden;">

<!-- handles file uploading -->
<form action = "{{ url_for('upload_file') }}" method = "POST" enctype = "multipart/form-data" id = "uploadFile">
<input type = "file" name = "file" id = "uploadInput" style = "visibility: hidden;"/>
</form>

<!-- this listens for load events -->
<form action="" method="POST" id = "copyFiles">
    <input type="hidden" id = "fileNameLoad" name = "fileNameLoad">
</form>

<!-- this listens for remove events -->
<form action="" method="POST" id = "removeFiles">
    <input type="hidden" id = "fileNameRemove" name = "fileNameRemove">
</form>

<!-- this listens for remove events -->
<form action="" method="POST" id = "downloadFile">
    <input type="hidden" id = "fileNameDownload" name = "fileNameDownload">
</form>

<!-- this passes filenames to the model -->
<form action="" method="POST" id = "btnModel">
    <input type="hidden" id = "fileNameInput" name = "fileNameInput">
</form>

<!-- this passes labelled ply filenames for meshing -->
<form action="" method="POST" id = "btnMesh">
    <input type="hidden" id = "fileNameOutput" name = "fileNameOutput">
    <input type="hidden" id = "filters" name = "filters">
</form>

<canvas id="c"></canvas>
  
{% endblock %}